.buttonsContainer {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.responseContainer {
    margin: 50px;
    width: 80%;
    display: flex;
    justify-content: center;
    height: max-content;
}

.imageContainer {
}

.image {
}

.textContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}

.code {
    margin: 5px;
}

.text {
    margin: 5px;
}
.info {
    margin: 5px;
}