.item {
    margin-right: 360px;

}

.item:last-of-type {
    color: #e8581f;
}

.users {
    margin-top: 10px;
}

.buttonsContainer {
}

.container {
    margin-left: 40px;
}

.thead {
    display: flex;
    background-color: #E5E5E5;

}

.nameCol {
    /*background-color: #c9e5ff;*/
    margin-bottom: 10px;
    padding: 3px;
}

.ageCol {
    /*background-color: #c9e5ff;*/
    padding: 3px;

}
tr {
    display: flex;
    justify-content: space-between;
    width: 100%;
}