.App {
    --header_height: 60px;
}

.hw {
    margin-bottom: 250px;
}

.hwTitle {
    margin: 50px 0px 50px 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}